[Unit]
Description=Schema repository service
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/opt/schemarepository/bin/
#Environment="JAVA_HOME=/usr/lib/jvm/jre"
ExecStart=/bin/bash -c '/opt/schemarepository/bin/startup.sh >> /opt/schemarepository/run.log 2>&1'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
